@import "$core_css/core.less";

.card_icon {
    width: 30px;
    height: 30px;

    & > img, & > svg {
        border-radius: #element_style[radius];

        margin: auto;

        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
        /* The icon does not look centered. */
        transform: translateX(-2px);
    }
}