@import "$core_css/core.less";

.container {
    .container_default_style();

    display: flex;
    flex-direction: column;
    justify-content: center;

    /* width: 100%; */

    text-align: center;
    margin: auto;

    background-color: #color_palett[primaryColor];
}