.title {
    white-space: nowrap;
    text-overflow: clip;
    overflow: clip;

    padding: 0.5rem 0rem;
    width: 100%;
}

.text_content {
    display: inline-block;

    will-change: transform;
    backface-visibility: hidden;

    text-rendering: geometricPrecision;

    &.bounce {
        --speed-animation: attr(data-animation-duration s, 3s);

        @media (prefers-reduced-motion: no-preference) {
            animation: text-scroll calc(var(--speed-animation)) ease-in-out infinite;
            animation-direction: alternate;
        }
    }
}

@keyframes text-scroll {
    from, 10% {
        transform: translateX(0);
    }
    90%, to {
        transform: translateX(calc(-1 * attr(data-overflow px, 0px)));
    }
}