@import "$core_css/core.less";

@linear_grad: #color_palett[contrast];
@linear_grad_hover: shade(saturate(@linear_grad, 10%), 20%);
@linear_grad_active: shade(desaturate(@linear_grad, 20%), 30%);
@linear_grad_is_active: shade(darken(@linear_grad, 10%), 40%);

.button {
    display: flex;
    justify-content: center;
    box-sizing: border-box;

    color: #type_palett[black];
    background-color: @linear_grad;

    border: 0;
    border-radius: #element_style[radius] / 1.5;

    text-decoration: none;
    line-height: 1.5rem;

    font-size: 0.9rem;
    font-family: Space Grotesk;

    margin: 0.25rem auto;
    padding: 0.25rem 0.5rem;

    cursor: pointer;
    touch-action: manipulation;

    &:hover {
        background-color: @linear_grad_hover;
    }

    &:active {
        background-color: @linear_grad_active;
    }
}

.isActive {
    background-color: @linear_grad_is_active;
    border: #element_style[solid_thin_border];
}

/* ------- NAVBAR BUTTON --------- */
.nav_button {
    &:extend(.button);

    background-color: inherit;
    font-size: 1.25rem;
    margin: inherit;

    &:hover {
        color: lighten(#color_palett[primary], 5%);
    }

    &:active {
        color: #color_palett[primary];
    }
}