@import "$core_css/core.less";

.container {
    display: flex;
    flex-direction: column;

    width: 125px;
    padding: 1rem 0rem;
    height: 100%;

    background-color: cadetblue;
    border-radius: #element_style[radius];
    border: #element_style[solid_border];
}

.title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}