@import "$core_css/core.less";

.input_container {
    #font.body();
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    gap: 0.5rem;
    margin: 0.5rem 0rem;

    max-width: 350px;
}

.discover_server {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 0.5rem;
    width: 100%;
    height: 100%;

    & > button {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 35px;
    }
}

.divider {
    border: #element_style[solid_border];
    border-radius: #element_style[radius];
    background: #color_palett[primary];

    // Divider between Input and "Discorver Servers"
    // looks not centered
    transform: translateY(2px);
}

.server_input {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;
    width: 100%;

    gap: 0.5rem;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 0.5rem;

    flex-wrap: wrap;
    width: 100%;
    height: 35px;
}

.form_input {
    height: 100%;
}

.search_button {
    display: flex;
    justify-items: center;
    align-items: center;

    aspect-ratio: 1;

    height: 100%;
    margin: 0;
}
