.font-dm-sans {
    @font-face {
        font-family: "DM Sans";
        src: local("DM Sans"),
            url("../fonts/DMSans-VariableFont_opsz,wght.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
    }
}

.font-spacegrotesk {
    @font-face {
        font-family: "Space Grotesk";
        src: local("Space Grotesk"),
            url("../fonts/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
    }
}

.font-fira-code {
    @font-face {
        font-family: "Fira Code";
        src: local("Fira Code"),
            url("../fonts/FiraCode-VariableFont_wght.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
    }
}