@font-face {
    font-family: "DM Sans";
    src: local("DM Sans"),
        url("$font/DMSans-opsz,wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Space Grotesk";
    src: local("Space Grotesk"),
        url("$font/SpaceGrotesk-wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Fira Code";
    src: local("Fira Code"),
        url("$font/FiraCode-wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}