@import "./core.less";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    .defaultFontFamily();
    font-family: Inter;

    display: flex;
    flex-direction: column;
    background-color: #color_palett[seconderyColor];

    height: 100vh;
    overflow: auto;
}

#root {
    display: flex;
    flex-direction: column;

    flex-grow: 1;
    height: 100%;
}