@import "./core.less";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

each(range(1, 10, 1), {
  .flex-grow-@{index} {
    flex-grow: @value;
  }
});

body {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: normal;
    font-weight: 400;

    color: #0f0f0f;
    background-color: #f6f6f6;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    display: flex;
    flex-direction: column;
    background-color: #color_palett[secondary];

    height: 100dvh;
    overflow: auto;
}

#root {
    @safe-area-height: calc(#safe-area[top] + #safe-area[bottom]);
    @safe-area-width: calc(#safe-area[left] + #safe-area[right]);

    width: calc(100% - @safe-area-width);
    height: calc(100% - @safe-area-height);

    margin: auto;
}

.container {
    text-align: center;

    padding: 0.5rem 0.5rem; /* used as "margin" */
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    border-radius: #element_style[radius];
    background-color: #color_palett[primary];

    transition:
        width 0.5s ease,
        padding-left 0.5s ease;

    &.nav_collapsed {
        width: calc(100% - #navbar_style[collapsed-width]);
    }

    &.nav_expanded {
        width: calc(100% - #navbar_style[expand-width]);
    }

    &.nav_hidden {
        padding-left: 1.25rem;
    }

    &.no_transition {
        transition: none;
    }
}

.navbar-container {
    display: flex;
    flex-direction: column;

    height: 100%;

    &.vertical {
        flex-direction: row;
    }
}