@import "$core_css/core.less";

.input {
    border: #element_style[solid_border];
    border-radius: #element_style[radius];
    padding: 0.25rem 0.5rem;

    color: #type_palett[black];

    transition: border-color 0.3s ease;
    outline: none;

    &:focus {
        border-color: #color_palett[highlight];
    }
}