@import "$core_css/core.less";

.container {
    display: flex;
    justify-content: start;
    flex-direction: row;

    width: 100%;
    height: 100%;
    /*
    * Give more space for scrollbar.
    * Scrollbar is placed over elements within the container;
    */
    padding: 0.4rem 0;

    gap: 0 0.5rem;
    overflow-x: auto;
}